<!DOCTYPE html>
<html lang="es">
    <body [ngClass]="{ 'dark': isDarkMode }">
        <div class="container">
            <header>
                <h1><strong>CryptoVault</strong></h1>
                &nbsp;
                <h2><strong>La nueva billetera digital en que puedas confiar</strong></h2>
            </header>
            <div class="content">
                <div class="section">
                    <h2 align="center"><strong>¡Bienvenido al Proyecto de Innovación de Blockchain del TEAM 01 - VI Semestre!</strong></h2>
                    <section class="mt-4">
                        <h2><strong>Descripción:</strong></h2>
                        <p>El proyecto CryptoVault es un innovador proyecto de blockchain que permite a los usuarios listar y gestionar saldos 
                        en diferentes redes de prueba, incluyendo Mainnet, Holesky y Sepolia desde la plataforma MetaMask. La plataforma está diseñada para facilitar 
                        transacciones seguras y eficientes, aprovechando las capacidades de la tecnología blockchain para asegurar la transparencia y la inmutabilidad 
                        de las operaciones realizadas. Con un enfoque en la accesibilidad y la experiencia del usuario, CryptoVault proporciona herramientas intuitivas 
                        para interactuar con el ecosistema de criptomonedas.</p>
                    </section>
                    <section class="mt-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8vllSXUhXtkHTw2rhDiu63CdmIWqtrvD5ng&s" 
                        width="290" height="200" align="right"/>
                        <h2><strong>Objetivos:</strong></h2>
                        <ul>
                            <li>Proporcionar una interfaz de usuario amigable para listar saldos y realizar transacciones.</li> 
                            <li>Facilitar la interacción con múltiples redes de prueba de forma segura y eficiente.</li> 
                            <li>Ofrecer herramientas de gestión de transacciones que aseguren el cumplimiento de normativas y estándares.</li>
                        </ul>
                    </section>
                    <section class="mt-4">
                        <h2><strong>Beneficios:</strong></h2>
                        <ul>
                            <li>Transacciones rápidas y seguras gracias a la tecnología blockchain.</li> 
                            <li>Acceso a balances de múltiples redes de prueba en un solo lugar.</li> 
                            <li>Interacción directa y transparente con las criptomonedas en un entorno controlado.</li>
                        </ul>
                    </section>
                    <section class="mt-4">
                        <img src="https://files.readme.io/a6b6a4e-metamask-fox-wordmark-stacked.png" 
                        width="300" height="200" align="right"/>
                        <h2><strong>Características:</strong></h2>
                        <ul>
                            <li>Interfaz intuitiva para fácil navegación y acceso a funcionalidades.</li> 
                            <li>Soporte para operaciones en redes de prueba como Mainnet, Holesky y Sepolia.</li> 
                            <li>Funcionalidad para realizar transacciones seguras y rápidas.</li> 
                            <li>Opciones de visualización de saldos y transacciones realizadas.</li> 
                            <li>Herramientas de análisis para monitorear el rendimiento de las transacciones.</li>
                        </ul>
                    </section>


                    <section class="mt-4">
                        <h2><strong>Integrantes del equipo:</strong></h2>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="assets/fabio.jpg" width="220" height="260" class="rounded-circle" alt="Integrante 1">
                                <h4><strong>Fabio Alonso Martel Antonio</strong></h4>
                                <p>Estudiante de IESTP Valle Grande del sexto semestre.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img src="assets/megun.jpg" width="220" height="260" class="rounded-circle" alt="Integrante 2">
                                <h4><strong>José Megun Cama La Madrid</strong></h4>
                                <p>Estudiante de IESTP Valle Grande del sexto semestre.</p>
                            </div>
                        </div>
                    </section>

                    <section class="mt-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlHSFDx-V8PEADuPVgx5K1Rj9tWJZzhQ2EH4ARNQffzxjU9ua2O4754-uZVB3zUqFUkCk&usqp=CAU" 
                     width="260" height="220" align="right"/>
                        <h2><strong>Conclusiones:</strong></h2>
                        <ul>
                          <li>
                            <h5><strong>Innovación en el Manejo de Criptomonedas:</strong></h5> 
                            <p>CryptoVault ofrece una solución innovadora que mejora la forma en que los usuarios interactúan con las criptomonedas, 
                            optimizando el proceso de gestión y transacción de fondos.</p>
                          </li>
                          <li>
                            <h5><strong>Facilitación de Acceso a Múltiples Redes:</strong></h5> 
                            <p>Al permitir el acceso a balances en diferentes redes de prueba, CryptoVault amplía las posibilidades de los usuarios 
                            para explorar y utilizar las criptomonedas de manera efectiva.</p>
                          </li>
                          <li>
                            <h5><strong>Compromiso con la Seguridad y Transparencia:</strong></h5> 
                            <p>La plataforma garantiza un entorno seguro para realizar transacciones, cumpliendo con los más altos estándares de seguridad 
                            y transparencia que exige el ecosistema blockchain.</p>
                          </li>
                        </ul>
                      </section>
                </div>
            </div>
            <footer>
                <p><strong>&copy; 2024 CryptoVault. Todos los derechos reservados.</strong></p>
                <li><a href="mailto:fabio.martel&#64;vallegrande.edu.pe" class="text-white">fabio.martel&#64;vallegrande.edu.pe</a></li>
                <li><a href="mailto:jose.cama&#64;vallegrande.edu.pe" class="text-white">jose.cama&#64;vallegrande.edu.pe</a></li>
            </footer>
        </div>
    </body>
</html>