body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5c200;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
    background-color: #121212; /* Fondo oscuro */
    color: #f9fafb; /* Texto claro */
}

.container {
    width: 85%;
    max-width: 1200px;
    background-color: #00f0cc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
    margin: 40px 0; /* Añadir margen para separación */
    padding: 20px;
}

.container.dark {
    background-color: #1a202c; /* Fondo oscuro */
    color: #f9fafb; /* Texto claro */
}

.container.dark p {
    color: #f9fafb; /* Cambia el color del texto a blanco para los párrafos */
}

header {
    background-color: #ff6600;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    border-radius: 25px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header h2 {
    font-size: 1.2em;
    margin: 5px 0 0;
}

.content {
    padding: 20px;
}

.section {
    margin-bottom: 30px; /* Más espacio entre secciones */
}

.section h3 {
    border-bottom: 2px solid #3b82f6; /* Línea azul suave */
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #3b82f6;
}

.section p {
    line-height: 1.6;
    font-size: 1em;
    color: #000000;
}

.image-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.team {
    display: flex;
    justify-content: space-around;
    margin: 40px 0; /* Más espacio alrededor del equipo */
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 20px;
}

.team-photo {
    width: 180px; /* Tamaño más pequeño */
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

footer {
    background-color: #ff6600;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    margin-top: 40px;
    position: relative; /* Evitar problemas de posicionamiento */
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}

input[type="text"], input[type="number"], select {
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    width: 100%;
    margin-bottom: 10px;
}

input:focus, select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
}

button {
    background-color: #1d4ed8;
    color: #ffffff;
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #1e40af;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
